PORT=5000
NODE_ENV=production
CLIENT_URL=http://172.16.3.59:8080

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=changeme123
MONGO_URI=mongodb://root:changeme123@mongo:27017/devops_academy?authSource=admin

JWT_SECRET=414b0676c7c14dde5b76bffb62a771064626adf89be5e7338c7136fd7b477b6cd4064031b8822e104e2c81db13fa9526

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin@123
